* {
    margin: 0;
    padding: 0;
}

.top-bar {
    background: black;
    color: #fff;
    padding: 1rem;
}

.btn {
    background: white;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.7rem 2rem;
}

.btn:hover {
    opacity: 0.6;
}

.page-info {
    margin-left: 1rem;
    color: whitesmoke;
}

.error {
    background: orangered;
    color: #fff;
    padding: 1 rem;
}